<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Get App Hash and recieve SMS in App</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>To read SMS which you send, First you have to click on "Get App Hash" button to get the app hash code and save
        it somewhere. It will be needed when you send SMS.
        Once you have app hash code, You can click on "Start Wathching SMS" and send a SMS from your emulator. </p>

      <code>
          SMS format should be: <#> Your ExampleApp code is: 123456 YOUR_APP_HASH_CODE_HERE
        </code>
    </ion-card-content>
  </ion-card>
  <ion-button color="primary" (click)="getHashCode()" size="small">Get App Hash</ion-button>
  <ion-button color="secondary" (click)="getSMS()" size="small">Start Watching SMS</ion-button>
  <ion-note color="primary">{{appHashString}}</ion-note>
  <br>
  <ion-note>{{smsTextmessage}}</ion-note>
</ion-content>